streamlit
pandas
requests
psycopg2-binary
mysql-connector-python
docx2txt
PyPDF2
snowflake-connector-python
google-generativeai
langchain
langchain-google-genai
st-aggrid
reportlab
beautifulsoup4
Pillow
pdf2image
matplotlib
seaborn
xlsxwriter

